@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#bo{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
      font-family: sans-serif;
      background-image: linear-gradient(315deg, #44648f 60%, #89b0e4 50%);
  }

.card{
    width: 444px;
}

#fo{
    bottom: 0;
    width: 100%;
    position: relative;
}

#logoI{
    width: 100%;
}

h1 {
    text-align: center;
    color: #1b3063;
}

h2{
    color: #5891ff;
}

.card1{
    margin-left: 5%;
    margin-top: 5%;
    width: 230px;

}

footer{
    background-color: #33383c;
    padding:5px;
    
}	       

footer ul li{
   padding:5px 0px;
}

.adress span , .contact span , .info span{
  color: #FFF; 
  font-weight: 800; 
  padding-bottom: 25px; 
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.adress li p , .contact li a , .info li a{
   color:#FFF;
   letter-spacing: 2px;
   text-decoration:none;
   font-size:15px;
}


.adress , .contact , .info {
   list-style: none;
}

.fa{
   color:#9c9c9c;
   margin-right: 15px;
   font-size:14px;
}







