@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

body{
  margin: 0;
  padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(315deg, #111877 50%, #111877 50%);
}

.badge-notify{
    background: red;
    position: relative;
    top:-20px;
    right: 40px;
    font-family: sans-serif;
}
#addNewProduct{
    background: transparent;
    border: 2px solid white;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
    margin-top: 50px;
}
.btn{
    padding: 10px;
    background: transparent;
    border: 2px solid white;
}
.btn-info{
    background: #34495e;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
}
.container{
    margin-top: 150px;
}

.row{
    color: white;
    margin-top: 12px;
}
.text-center{
    margin-bottom: 30px;
}

h1{
    color: white;
}
.titleText{
  color:#D7BE69;
  margin-top: 20%;
  font:normal 6rem/1 "Pinyon Script";
}
.logoText{
  color: white;
  font:normal 3rem/1 "Pinyon Script";
  text-align: left;
  padding-top: 10px;
  padding-right: 20px;
}

.btn-danger{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*styling for newIndex.html landingpage tryout*/


.navbar{
  margin-bottom: 50px;
  border-radius: 0;
}

#about{
  margin-left: 30px;
}
.container-fluid{
    padding: 60px 50px;
}

/*Section divider*/
.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 20px #D7BE69;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -33px;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: white;
}

.h-divider .text i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #aaa;
  text-align: center;
  line-height: 50px;
  font-style: normal;
  color: #999;
}

.h-divider .text2 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -35px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #D7BE69;
  background: D7BE69;
}

.h-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #D7BE69;

}


.logo-small{
    /*color: #C0C0C0;*/
    color:#D7BE69;
    font-size: 50px;
    transform-style: preserve-3d;
    transform: rotateY(360deg) translateZ(310px);
    animation: animate 12s linear infinite;
    padding-bottom: 5px;
    padding-top: 50px;
}
.logo{
    font-size: 200px;
    /*color: #C0C0C0;*/
    color:#D7BE69;
    transform-style: preserve-3d;
    transform: rotateY(360deg) translateZ(360px);
    animation: animate 10s linear infinite;
}

@keyframes animate{
  0%{
    transform: perspective(1000px) rotateY(360deg);
  }
  100%{
    transform: perspective(1000px) rotateY(0deg);
  }
}

.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    color: #34495e;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
 
/*svg{
  height: 200px;
  width: 100%;
}
  path{
    fill: rgb(161, 181, 194);
  }

  .shape-fill{
    fill: url(#header-shape-gradient) #fff;
  }*/

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  } 
  
  
  /*Image Galery design*/
  .gal-container{
    padding: 12px;
  }
  .gal-item{
    overflow: hidden;
    padding: 3px;
  }
  .gal-item .box{
    height: 350px;
    overflow: hidden;
  }
  .box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
  }
  .gal-item a:focus{
    outline: none;
  }
  .gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
      line-height: 350px;
      font-size: 30px;
      color: #fff;
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
  }
  .gal-item a:hover:after{
    opacity: 1;
  }
  .modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
  }
  .modal-body{
    width: 100%;
    height: 50%;
  }
  .modal-open .gal-item button.close{
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #000;
      opacity: 1;
      color: #fff;
      z-index: 999;
      right: -12px;
      top: -12px;
      border-radius: 50%;
      font-size: 15px;
      border: 2px solid #fff;
      line-height: 25px;
      -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  }
  .modal-open .gal-item button.close:focus{
    outline: none;
  }
  .modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
  }
  .gal-container .modal-dialogue{
      width: 80%;
  }
  .gal-container .description{
    position: relative;
    height:150px;
    top: -150px;
    padding: 10px 25px;
    background-color: rgba(191, 132, 206, 0.5);
    color: rgb(3, 3, 3);
    text-align: left;
  }
  .gal-container .description h4{
    margin:0px;
    font-size: 30px;
    font-weight: 800;
    line-height: 20px;
    color: #000;
  }
  .gal-container .modal.fade .modal-dialog {
      -webkit-transform: scale(0.1);
      -moz-transform: scale(0.1);
      -ms-transform: scale(0.1);
      transform: scale(0.1);
      top: 100px;
      opacity: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .gal-container .modal.fade.in .modal-dialog {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transform: translate3d(0, -100px, 0);
      transform: translate3d(0, -100px, 0);
      opacity: 1;
  }
  @media (min-width: 768px) {
  .gal-container .modal-dialog {
      width: 55%;
      margin: 50 auto;
  }
  }
  @media (max-width: 768px) {
      .gal-container .modal-content{
          height:250px;
      }
  }

  /*FOOTER*/
  footer{
    background-color: #33383c;
    padding:5px;
    
}	       

footer ul li{
   padding:5px 0px;
}

.adress span , .contact span , .info span{
  color:#D7BE69;
  font-weight: 800; 
  padding-bottom: 25px; 
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.adress li p , .contact li a , .info li a{
   color:#FFF;
   letter-spacing: 2px;
   text-decoration:none;
   font-size:15px;
}

.social li{
   float:left;
}

.adress , .contact , .info {
   list-style: none;
}

.fa{
   color:#9c9c9c;
   margin-right: 15px;
   font-size:14px;
}


@media screen  and(max-width: 768px) {

    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
    
}