body{
    font-family: sans-serif;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    height: 100vh;
}
.badge-notify{
    background: red;
    position: relative;
    top:-20px;
    right: 40px;
    font-family: sans-serif;
}
#addNewProduct{
    background: transparent;
    border: 2px solid white;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
    margin-top: 50px;
}
.btn{
    padding: 10px;
    background: transparent;
    border: 2px solid white;
}
.btn-info{
    background: #34495e;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
}
.container{
    margin-top: 150px;
}

.row{
    color: white;
    margin-top: 150px;
}
.text-center{
    margin-bottom: 30px;
}

h1{
    color: white;
}
.btn-danger{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

/*styling for newIndex.html landingpage tryout*/

.jumbotron{
    background-color: darkslategray;
    color: white;
    text-align: center;
    padding: 150px 25px;
    background-image: url("../plugIn-css-js/cake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container-fluid{
    padding: 60px 50px;
}
.logo-small{
    color: aliceblue;
    font-size: 50px;
}
.logo{
    font-size: 200px;
    color:#7f5a83;
}
.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    color: #34495e;
}
.thumbnail img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  
  .carousel-indicators li {
    border-color: #f4511e;
  }
  
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }  

@media screen  and(max-width: 768px) {
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
}